@charset "UTF-8";
/* CSS Document */


#navcolor {
	
    background-color: #FFA840;
	background-image: url("../images/nav.jpg")
	
}

#btnnav{
	
	border-radius: 200px;
	
}

#bordebtn{
	border-radius: 200px;
	
}

#bordernav{
	
  border-radius: 200px 0px 0px 200px;
  	
	
}