@charset "UTF-8";
/* CSS Document */


#navcolor {
	
    background-color: #FFA840;
	background-image: url("../images/nav.jpg")
	
}

#btnnav{
	
	border-radius: 200px;
	
}

#bordebtn{
	border-radius: 200px;
	
}

#bordernav{
	
  border-radius: 200px 0px 0px 200px;
  	
	
}

#bordernav2{
	
  border-radius: 0px 200px 200px 0px;
  	
	
}

#barverde {
	
	
	background-color: #0E8D2D;
	
}